services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - poolvibes-data:/data

  docs:
    build:
      context: .
      dockerfile: Dockerfile.docs
    ports:
      - "8000:8000"

volumes:
  poolvibes-data:
